# 编译输出
build/
bin/
obj/
install/
log/

# 静态库和临时文件
*.elf
*.bin
*.hex
*.map
*.o
*.obj
*.su

.settings/
.project
.cproject
.mxproject

# 备份文件
*~
*.bak
config.json

CMakePresets.json

micro_ros_stm32cubemx_utils/microros_static_library_ide/libmicroro*
upper_examples/__pycache__/

Usr
